<%= form_for(patient, class: 'form-inline', style: 'display:inline') do |f| %>
  <% if patient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

      <ul>
      <% patient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  

<center>
    <div class="floating-box1">
      <br>

  <button class="button">New Patient <br> Visit</button>
  <button class="button">Load <br>Patient</button>
  <button class="button">Admit <br>Admit</button>
  <button class="button">Descharge <br> Discharge</button>
  <button class="button">Remove <br> Patient</button>
<br><br>

  <hr class="to">
  <div class="floating-box10">
    
     <div class="floating-boxf">
    <div class="field">
    <%= f.label :gender %>:
    <%= f.text_field :gender, :size=>"8", :maxlength=>"8", :display=>"inline" %>
  </div>
  </div>

  <div class="floating-boxf">
  <div class="field">
    <%= f.label :age %>:
    <%= f.text_field :age, :size=>"8", :maxlength=>"8" %>
  </div>
  </div>

  <div class="floating-boxf">
  <div class="field">
    <%= f.label :weight %>:
    <%= f.text_field :weight, :size=>"8", :maxlength=>"8" %>
  </div>
  </div>

  <div class="floating-boxf">
  <div class="field">
    <%= f.label :bp %>:
    <%= f.text_field :bp, :size=>"8", :maxlength=>"8" %>
  </div>
  </div>

 <div class="floating-boxf">
  <div class="field">
    <%= f.label :pulse %>:
    <%= f.text_field :pulse, :size=>"8", :maxlength=>"8" %>
  </div>
  </div>

  <div class="floating-boxf">
  <div class="field">
    <%= f.label :temp %>:
    <%= f.text_field :temp, :size=>"8", :maxlength=>"8" %>
  </div>
  </div>

  <div class="floating-boxf">
  <div class="field">
    <%= f.label :rr %>:
    <%= f.text_field :rr, :size=>"8", :maxlength=>"8" %>

  </div>
  </div>

  <br><br>
   
<br><br>

  <hr class="to">
  <!--<div class="floating-box2">Floating box1</div>-->
  
<div class="floating-boxnav">

 
  <a href="javascript:void(0)" class="tablink" onclick="openCity(event, 'main')"><font size="4" color="black">Main</font></a><br><br>
  <hr class="style18">
  <a href="javascript:void(0)" class="tablink" onclick="openCity(event, labs')"><font size="4" color="black">Labs</font></a><br><br>
  <hr class="style18">
  <a href="javascript:void(0)" class="tablink" onclick="openCity(event, 'documents')"><font size="4" color="black">Documents</font></a><br><br>
  <hr class="style18">
  <a href="javascript:void(0)" class="tablink" onclick="openCity(event, 'order')"><font size="4" color="black">Order</font></a><br><br>
  <hr class="style18">
  <a href="javascript:void(0)" class="tablink" onclick="openCity(event, 'radiolagy')"><font size="4" color="black">Radiolagy</font></a><br><br>
  <hr class="style18">

  
<!--<nav class="w3-sidenav w3-light-grey w3-card-2" style="width:170px">
  <div class="w3-container">
  <br><br>
  <ul>
  <li><a class="active" href="#home">Home</a></li>
  <li><a href="#news">Main</a></li>
  <li><a href="#contact">Labs</a></li>
  <li><a href="#about">Documents</a></li>
  <li><a href="#about">Orders</a></li>
  <li><a href="#about">Radiolagy</a></li>
  </ul>
</nav>-->
</div>

<div class="floating-boxjk"></div>

  <div class="floating-boxd">



<div id="main" class="w3-container city" style="display:none">
    <h3>Viewer Lon:</h3>
   <textarea readonly="true" id="m0" type="text" rows="8" cols="110"></textarea>
</textarea>
<br>
<h3>Text Entry Lon:</h3>
   <textarea type="text" onkeypress ="t(this.value)" rows="6" cols="110"></textarea>
</textarea>
  </div>


<div id="labs" class="w3-container city" style="display:none">
     <h3>Viewer Par:</h3>
   <textarea readonly="true" id="m1" type="text" rows="8" cols="110"></textarea>
</textarea>
<br>
<h3>Text Entry Par:</h3>
   <textarea type="text" onkeypress ="t(this.value)" rows="6" cols="110"></textarea>
</textarea>
  </div>

<div id="documents" class="w3-container city" style="display:none">
    <h3>Viewer Tok:</h3>
   <textarea  readonly="true" id="m2" type="text" rows="8" cols="110"></textarea>
</textarea>
<br>
<h3>Text Entry Tok:</h3>
   <textarea type="text" onkeypress ="t(this.value)" rows="6" cols="110"></textarea>
</textarea>
  </div>



  <div id="order" class="w3-container city" style="display:none">
    <h3>Viewer Ooder:</h3>
   <textarea readonly="true" id="m3" type="text" rows="8" cols="110"></textarea>
</textarea>
<br>
<h3>Text Entry Order:</h3>
   <textarea type="text" onkeypress ="t(this.value)" rows="6" cols="110"></textarea>
</textarea>
  </div>



<div id="radiolagy" class="w3-container city" style="display:none">
    <h3>Viewer Rad:</h3>
   <textarea readonly="true" id="m4" type="text" rows="8" cols="110"></textarea>
</textarea>
<br>
<h3>Text Entry Rad:</h3>
   <textarea type="text" onkeypress ="t(this.value)" rows="6" cols="110"></textarea>
</textarea>
  </div>



  </div>




  <div class="floating-boxrh">
    <br><br>
      <div class="floating-boxtt">
            <!--<%= f.datetime_select :time %>-->
              

      </div>



      Add Time:
    
      <div class="floating-boxrow">
      <br>
        :<%= f.label :minutes %><br>
        :<%= f.label :hours %><br>
        :<%= f.label :days %><br>
        :<%= f.label :weeks %><br>
        <%= f.label :months %><br>
      </div>

       <div class="floating-boxrow">
     <br>
       <%= f.text_field :minutes , :size=>"8", :maxlength=>"8" %>
       <%= f.text_field :hours, :size=>"8", :maxlength=>"8" %>
       <%= f.text_field :days, :size=>"8", :maxlength=>"8" %>
       <%= f.text_field :weeks, :size=>"8", :maxlength=>"8" %>
       <%= f.text_field :months, :size=>"8", :maxlength=>"8" %>
     </div>
    
      <div class="floating-boxsub">

  <!-- end of the med dev for the slider-->
  <%= f.submit %>
</div>
 
 <% end %>
  </div>
  
  </div>
  </div>
  </center>
</form>